
PORT=
NODE_ENV=

FRONTEND_URL=

DB_SERVER=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PORT=

DB_ENCRYPT=
DB_TRUST_SERVER_CERTIFICATE=

JWT_SECRET=

BREVO_API_KEY=
EMAIL_REMETENTE=
EMAIL_REMETENTE_NOME=

EMAIL_DESTINATARIOS=

ENVIO_DISPAROS_INTERVALO_MS=
ENVIO_DISPAROS_LOTE_TAMANHO=
ENVIO_DISPAROS_DELAY_ENTRE_MENSAGENS_MS=

HORARIO_COMERCIAL_INICIO_HORA=
HORARIO_COMERCIAL_FIM_HORA=
